body{
background-color:#ffFFff;
}
hr{
  color: #FF0000;
  background-color:#FF0000;
  height: 1px;
  border: 1px;
  border-style: dashed;

}

h3{
 border-left-style:solid;
  border-left-color:pink;
  border-left-width:10px;
  padding-left:3px;
width:50%;
 border-bottom-style:solid;
  border-bottom-color:pink;
  border-bottom-width:1px;
  font-weight:bold;
  
}

.tb1{
margin:0px 10px;
background:pink;
padding:4px;
}
.tb2{
margin:0px 10px;
border:1px solid pink;
padding:4px;
}
table{
border:1px solid pink;
}
th{
margin:0px 10px;
background:pink;
padding:4px;
}
td{
text-align:right;
margin:0px 0px;
border:1px solid pink;
padding:2px;
}

/*div{
  height: 1px;
  border: 1px;
  border-style: dashed;
  padding:5px;
  width:50%;
}*/
